In [2]:
import numpy as np
import pandas as pd

In [3]:
A = np.array([3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60])

In [7]:
print(A[-5:])

[48 51 54 57 60]

In [8]:
df = pd.read_csv("C:/Users/askma/OneDrive/Desktop/IS_665/heart.csv")

In [9]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [12]:
print(df.iloc[31:42])

    age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
31   65    1   0       120   177    0        1      140      0      0.4
32   44    1   1       130   219    0        0      188      0      0.0
33   54    1   2       125   273    0        0      152      0      0.5
34   51    1   3       125   213    0        0      125      1      1.4
35   46    0   2       142   177    0        0      160      1      1.4
36   54    0   2       135   304    1        1      170      0      0.0
37   54    1   2       150   232    0        0      165      0      1.6
38   65    0   2       155   269    0        1      148      0      0.8
39   65    0   2       160   360    0        0      151      0      0.8
40   51    0   2       140   308    0        0      142      0      1.5
41   48    1   1       130   245    0        0      180      0      0.2

    slope  ca  thal  target
31      2   0     3       1
32      2   0     2       1
33      0   1     2       1
34      2   1     2       1
35      0   0     2       1
36      2   0     2       1
37      2   0     3       1
38      2   0     2       1
39      2   0     2       1
40      2   1     2       1
41      1   0     2       1

In [13]:
print(df.loc[31:42, "sex"])

31    1
32    1
33    1
34    1
35    0
36    0
37    1
38    0
39    0
40    0
41    1
42    1
Name: sex, dtype: int64

In [25]:
print(df.iloc[4:5, -4:])

   slope  ca  thal  target
4      2   0     2       1